@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Mapping Next.js injected variables to internal names if desired */
  --font-serif: var(--font-anton);
  --font-sans: var(--font-manrope);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  /* Defining Tailwind font utilities */
  --font-anton: var(--font-annton), serif;
  --font-manrope: var(--font-manrope), sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  /* Use Lato as the default body font */
  font-family: var(--font-manrope), system-ui, sans-serif;
}

h1 {
  font-family: var(--font-anton);
}
h2,span {
  /* Use Lustria for headings and spans */
  font-family: var(--font-manrope), sans-serif;
}