@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --font-serif: var(--font-anton);
  --font-sans: var(--font-manrope);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-anton: var(--font-annton), serif;
  --font-manrope: var(--font-manrope), sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-manrope), system-ui, sans-serif;
}

h1 {
  font-family: var(--font-anton);
}

h2,
span {
  font-family: var(--font-manrope), sans-serif;
}

@keyframes confetti-float {
  0% {
    transform: translateY(0) translateX(0) rotate(0deg);
  }

  100% {
    transform: translateY(120vh) translateX(60px) rotate(360deg);
  }
}

.animate-confetti {
  animation-name: confetti-float;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}